<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <h2>@Html.ActionLink("WeDecide", "Index", "Home")</h2>
        <nav>
            <ul>
                <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                <li><a href="gallery.html">Friends</a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fa fa-power-off"></i>
        </div>
        <div class="profile-pic-thumb"></div>
    </header>

    <section class="main">
        @RenderBody()
    </section>

    <footer class="fixed-footer">
        <p>&copy; @DateTime.Now.Year  - WeDecide</p>
    </footer>

    <script src="~/Scripts/MakeQuestion.js"></script>
    <script src="~/Scripts/RespondToQuestion.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</body>
</html>