<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/modernizr-2.6.2.js")
    @Scripts.Render("~/Scripts/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header class="fixed-header shadowed">
        <h2>@Html.ActionLink("WeDecide", "Index", "Home")</h2>
        <nav>
            <ul>
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/Friends">People</a></li>
            </ul>
        </nav>
        <div class="icons">
            <i id="notificationBtn" class="fa fa-bell" title="Notifications"></i>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <i class="fa fa-sign-out" title="Log Out" onclick="javascript:this.parentNode.submit();"></i>
            }
        </div>
        @Html.Partial("_NotificationsPartial")
    </header>

    <section class="main">
        @RenderBody()
    </section>

    <footer>
        <p>&copy; @DateTime.Now.Year  - WeDecide</p>
    </footer>

    @Scripts.Render("~/Scripts/app/RespondToQuestion.js")
    @Scripts.Render("~/Scripts/app/Notifications.js")
</body>
</html>