@model WeDecide.ViewModels.MakeQuestionViewModel

<section class="make-question">
        @using (Html.BeginForm("CreateQuestion", "Question"))
        {
            <h1>Make a New Question</h1>
        
            @Html.ValidationMessageFor(x => x.Question)
            <p>Question Text: </p>
            @Html.TextBoxFor(x => x.Question)
            <br/>
        
            @Html.ValidationMessageFor(x => x.Responses)
            <ul id="responseHolder">
                <li class="response">
                    <p>Response: </p>
                    <input type="text" name="Responses" />
                </li>
                <li class="response">
                    <p>Response: </p>
                    <input type="text" name="Responses" />
                </li>
            </ul>
            <input id="addResponse" type="button" value="Add More Responses" />
        
            @Html.ValidationMessageFor(x => x.QuestionScope)
            @Html.EnumDropDownListFor(x => x.QuestionScope)
            <br/>
        
            <p>@Html.CheckBoxFor(x => x.FreeResponseEnabled)
            Allow free response on my question.</p>
            <br/>
        
            @Html.ValidationMessageFor(x => x)
            <p>The question should be available for: </p>
            <p>Hours: <input type="text" value="0" name="Hours"/> Minutes : <input type="text" value="10" name="Minutes"/></p>
            <input type="submit" value="Make Question" />
        }
    
</section>