@model WeDecide.ViewModels.QuestionViewModel

@using (Html.BeginForm("ResponseToQuestion", "QuestionResponse"))
{
    if (@Model != null)
    {
        <section class="RespondToQuestion">
            <h3>@Model.Question</h3>

            <ul>
                @for (int i = 0; i < Model.Responses.Count; i++)
                {
                    <li>
                        @*Add another check to make sure current user is not the question asker*@
                        @if(DateTime.Now.CompareTo(@Model.EndDate) < 0)
                        {
                            <input type="radio" name="ChosenResponse" value="@Model.Responses[i]" onclick="this.form.submit()" />
                        }
                        <p>@Model.Responses[i]</p>
                    </li>
                }
                @if (DateTime.Now.CompareTo(@Model.EndDate) < 0)
                {
                    @*Make this only available to friends?*@
                    <li>
                        <input type="radio" name="ChosenResponse" onclick="this.form.submit()" />
                        <p>Have another idea?  Write it down here : </p> <input type="text" name="FreeResponse"/>
                    </li>
                }
                
            </ul>
            @if (DateTime.Now.CompareTo(@Model.EndDate) < 0)
            {
                <p>
                    @{
                    TimeSpan ts = Model.EndDate - DateTime.Now;
                    string time = "Hours : " + ((int)ts.TotalHours) + ", Minutes : " + ts.Minutes;
                    @: Time left to respond : @time
                    }
                </p>
            }

            @*<input type="submit" value="Save Response" />*@
        </section>
    }
}
