@model WeDecide.ViewModels.RespondToQuestionViewModel

<form id="form_responses" name="Responses" method="post">
    @if (@Model != null)
    {
        <section class="RespondToQuestion">
            <h3>@Model.Question</h3>

            @Html.HiddenFor(x => x.QuestionId)

            <ul>
                @foreach (string Response in @Model.Responses)
                {
                    <li>
                        @if (DateTime.Now.CompareTo(Model.EndDate) < 0)
                        {
                            <input type="radio" name="ChosenResponse" value="@Response" />
                        }
                        <p>@Response</p>
                    </li>
                }
            </ul>

            @if (DateTime.Now.CompareTo(Model.EndDate) < 0)
            {
                if (Model.FreeResponseEnabled)
                {
                    <input type="radio" name="ChosenResponse" id="FreeResponse" />
                    <p>Don't like any of these answers? Submit your own : <input type="text" id="FreeResponseChoice" /></p>
                }
                TimeSpan ts = Model.EndDate - DateTime.Now;
                string TimeLeft = "Hours : " + ((int)ts.TotalHours) + ", Minutes : " + ts.Minutes;
                @:Time left : @TimeLeft
            }
                @*<input type="submit" value="Save Response" />*@
            </section>
        @*@section scripts {
            @Scripts.Render("~/Scripts/app/RespondToQuestion.js")
        }*@ 
    }
    else
    {
        <p>@ViewBag.ErrorMessage</p>
    }
 </form>