@model WeDecide.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WeDecide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="background-container">
        <div class="layer blur">
            <div class="color-layer"></div>
        </div>
    </div>

    <div class="login-container">
        <section class="login-box">
            <h2>Sign Up</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "")
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @id = "emailField" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "passwordField"})
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @id = "passwordConfirm" })
                </div>
                <input type="submit" value="Sign me up!" class="btn btn-danger" id="loginBtn" disabled />
            }
            @Html.ActionLink("Already a user?", "Login")
        </section>
        <div class="global-feed">
            <h2>See what you are missing.</h2>
            <div>
                <!-- feed me -->
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/Login.js")
</body>
</html>