@model WeDecide.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WeDecide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="background-container">
        <div class="layer blur">
            <div class="color-layer"></div>
        </div>
    </div>

    <div class="login-container">
        <section class="login-box">
            <h2>Login</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "")
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
                <input type="submit" value="Log me in" class="btn btn-success" />
            }
            @Html.ActionLink("Already a user?", "Login")
        </section>
        <div class="global-feed">
            <h2>See what you are missing.</h2>
            <div>
                <!-- feed me -->
            </div>
        </div>
    </div>
</body>
</html>