@using WeDecide.ViewModels
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Angular")
@Scripts.Render("~/Scripts/Globals")
<section class="home-page">
    <div ng-modules="feedApp, questionApp">
        @Html.Partial("_QuickProfilePartial", Model.User)
        <section class="welcome-header shadowed">
            <h1>Welcome, @Model.User.UserName</h1>
        </section>
    <div id="MakeQuestionPopup">
            @Html.Partial("_MakeQuestionPartial", new MakeQuestionViewModel { })
        </div>
        <div class="add-question">
            <button id="btnNewQuestion" type="button" class="bottom-btn btn-primary btn-lg btn-block">Create New Question</button>
        </div>
        <section class="content-feed shadowed">
            <div class="filter-feed" ng-controller="HomePageCtrl">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Friends" onclick="console.log('we\'re typing')" ng-click="doQuestionFlow"> Friends
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Local"> Local
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Global"> Global
                    </label>
                </div>
            </div>
            <section ng-controller="HomePageCtrl">
                <div ng-repeat="q in questions">
                    <label>Question #{{q.Id}}</label>
                    <ul>
                        <li>
                            {{q.QuestionText}}
                        </li>
                        <li>
                            Active: {{q.IsActive}}
                        </li>
                        <li>
                            <label>Ends: {{q.EndTime}}</label>
                        </li>
                        @*<li>Owning User Id: {{q.UserId}}</li>*@
                        <li>
                            <label>Responses</label>
                            <ul>
                                <li ng-repeat="r in q.Responses">
                                    <!--for the response in the question we're currently on...-->
                                    <!--Offer a radio button selection that is named after the question that owns it-->
                                    <input type="radio" data-qid={{q.Id}} name="question{{q.Id}}" value="{{r.Text}}" />{{r.Text}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        </div>
    @Scripts.Render("~/Scripts/MakeQuestion")
</section>

