@using WeDecide.ViewModels
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Angular")
@Scripts.Render("~/Scripts/Globals")
<section class="home-page">
    <div ng-modules="feedApp, questionApp">
        @Html.Partial("_QuickProfilePartial", @Model.User)
        <section class="welcome-header shadowed">
            <h1>Welcome, @Model.User.UserName</h1>
        </section>
    <div id="MakeQuestionPopup">
            @Html.Partial("_MakeQuestionPartial", new MakeQuestionViewModel { })
        </div>
        <div class="add-question">
            <button id="btnNewQuestion" type="button" class="bottom-btn btn-primary btn-lg btn-block">Create New Question</button>
        </div>
        <section class="content-feed shadowed">
            <div class="filter-feed">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Friends"> Friends
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Local"> Local
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Global"> Global
                    </label>
                </div>
            </div>
            <section ng-controller="HomePageCtrl">
                <div ng-repeat="q in questions">
                    <label>Question #{{q.Id}}</label>
                    <ul>
                        <li>
                            {{q.QuestionText}}
                        </li>
                        <li>
                            Active: {{q.IsActive}}
                        </li>
                        <li>
                            <label>Ends: {{q.EndTime}}</label>
                        </li>
                        <li>Owning User Id: {{q.UserId}}</li>
                        <li>{{q.ResponseIds}}</li>
                    </ul>
                </div>
            </section>
        </section>
    @Scripts.Render("~/Scripts/MakeQuestion")
</section>

