@using WeDecide.ViewModels
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Angular")
<section class="home-page">
    <div ng-modules="feedApp, questionApp">
        @Html.Partial("_QuickProfilePartial", Model.User)
        <section class="welcome-header shadowed">
            <h1>Welcome, @Model.User.UserName</h1>
        </section>
    <div id="MakeQuestionPopup">
            @Html.Partial("_MakeQuestionPartial", new MakeQuestionViewModel { })
        </div>
        <div class="add-question">
            <button id="btnNewQuestion" type="button" class="bottom-btn btn-primary btn-lg btn-block">Create New Question</button>
        </div>
        <section class="content-feed">
            <div class="filter-feed shadowed" ng-controller="HomePageCtrl">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Friends" ng-click="doQuestionFlow('friends')"> Friends
                    </label>
                </div>
                <div class="checkbox-inline">
                    @*<label>
                        <input type="checkbox" id="checkbox_Local"> Local
                    </label>
                </div>*@
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" id="checkbox_Global" ng-click="doQuestionFlow('global')"> Global
                    </label>
                </div>
            </div>
                <section id="questionHolder" ng-controller="HomePageCtrl" >
                    <div ng-repeat="q in questions">
                        @Html.Partial("_GlobalFeedPartial")

                    </div>
                </section>
               </div>
        </section>
        </div>
    @Scripts.Render("~/Scripts/MakeQuestion")
</section>

