@model WeDecide.Controllers.TestViewModel

@{
    ViewBag.Title = "Testpage";
}

<h2>Testpage</h2>

<div>
    <h4>TestViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    @{
        @: @Model.TheQuestion.Text
        <h3>Responses</h3>
        foreach (var response in Model.Responses)
        {
            <p>
                @response.Text
                <br />
                @response.Users.Count
            </p>
        }
    }

    <br />
    <br />
    @Html.Partial("_LiveQuestionView");
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/LiveQuestion.js"></script>
}