@using WeDecide.Models.Concrete
@using WeDecide.ViewModels
@model ProfileViewModel

@{
    ViewBag.Title = Model.UserName + "'s Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Angular")
<section class="profile-page">
    <div class="profile-view">
        <section class="personal-info">
            <div class="profile-pic" style="background-image: url(@Model.ImagePath), url(/Images/placeholder-headshot.jpg)"></div>
            <h1>@Model.UserName</h1>
            <input id="editBtn" class="btn btn-info btn-sm" type="button" value="Edit Profile" />
        </section>
    </div>
    <div>
        @Html.Partial("_ProfileEditPartial")
    </div>
    <div class="info-box-holder">
        <section class="info-box shadowed">
            <header><h2>Friends</h2></header>
            <div>
                @if (Model != null)
                {
                    foreach (User f in Model.UserFriends)
                    {
                        <div class="friend-thumb friend-thumb-lrg" title="@f.Name" style="background-image: url(@f.ImagePath), url(/Images/placeholder-headshot.jpg)"></div>
                    }
                }
            </div>
        </section>
        <section class="info-box shadowed">
            <header><h2>Questions</h2></header>
            <div>

                <section ng-app="feedApp">
                    <article ng-controller="ProfileCtrl">
                        <ul>
                            <li ng-repeat="q in questions">
                                <label>Question #{{q.Id}}</label>
                                <ul>
                                    <li>
                                        {{q.QuestionText}}
                                    </li>
                                    <li>
                                        Active: {{q.IsActive}}
                                    </li>
                                    <li>
                                        <label>Ends: {{q.EndTime}}</label>
                                    </li>
                                    <li>
                                        <label>Responses</label>
                                        <ul>
                                            <li ng-repeat="r in q.Responses">
                                                <!--for the response in the question we're currently on...-->
                                                <!--Offer a radio button selection that is named after the question that owns it-->
                                                {{r.Text}} {{r.VoteCount}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                @*<label>{{q.QuestionText}}</label>*@
                                @*<label>Active: {{q.IsActive}}</label>*@
                            </li>
                        </ul>
                    </article>
                </section>
                @*<section ng-controller="ProfileCtrl">
                    <div ng-repeat="q in questions">
                        <label>Question #{{q.Id}}</label>
                        <ul>
                            <li>
                                {{q.QuestionText}}
                            </li>
                            <li>
                                Active: {{q.IsActive}}
                            </li>
                            <li>
                                <label>Ends: {{q.EndTime}}</label>
                            </li>
                            @*<li>Owning User Id: {{q.UserId}}</li>
                            <li>
                                <label>Responses</label>
                                <ul>
                                    <li ng-repeat="r in q.Responses">
                                        <!--for the response in the question we're currently on...-->
                                        <!--Offer a radio button selection that is named after the question that owns it-->
                                        {{r.Text}} {{r.VoteCount}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>*@

            </div>
        </section>
    </div>
    @Scripts.Render("~/Scripts/app/EditProfile.js")
</section>

